---
import './Hero.scss';
---
<section class="hero">
  <div class="content">
    <img src="/images/logo1.png" alt="Festiva" />
    <p>Donde la noche cobra vida en Oslo</p>
    <a href="#about" class="cta">Descubre más</a>
  </div>
</section>
