---
import './About.scss';
---
<section class="about">
  <div class="container">
    <h2>Sobre Nosotros</h2>
    <p>FESTIVA es la discoteca número uno de Noruega, con shows en vivo, DJs internacionales y una experiencia que no olvidarás.</p>
  </div>
</section>