.contact {
  background: #eee;
  color: #222;
  padding: 4rem 1rem;
  text-align: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}
