<header class="bg-dark px-6 py-4 flex justify-between items-center">
  <!-- Logo -->

  <img src="images/logo1.png" alt="" class="w-32" />

  <!-- Menú -->
  <nav class="hidden md:flex gap-6 text-sm font-semibold">
    <a href="#que-es" class="hover:text-primary">¿Qué es Festiva?</a>
    <a href="#beneficios" class="hover:text-primary">Beneficios</a>
    <a href="#modulos" class="hover:text-primary">Módulos</a>
    <a href="#faqs" class="hover:text-primary">FAQ’s</a>
  </nav>

  <!-- Botones / Idioma -->
  <div class="flex items-center gap-4">
    <select class="bg-transparent text-white text-sm outline-none">
      <option class="text-black">Español</option>
      <option class="text-black">English</option>
    </select>
    <a
      href="#"
      class="bg-primary text-white px-4 py-2 rounded-full text-sm font-bold hover:opacity-90"
    >
      Descargar
    </a>
  </div>
</header>
