<header class="flex items-center justify-between px-6 py-4 bg-dark">
  <!-- Logo -->

  <img src="images/logo1.png" alt="" class="w-32" />

  <!-- Menú -->
  <nav class="hidden gap-6 text-sm font-semibold md:flex">
    <a href="#que-es" class="hover:text-primary">¿Qué es Festiva?</a>
    <a href="#benefits" class="hover:text-primary">Beneficios</a>
    <a href="#modules" class="hover:text-primary">Módulos</a>
    <a href="#contact" class="hover:text-primary">Contacto</a>
    <a href="#faqs" class="hover:text-primary">FAQ’s</a>
  </nav>

  <!-- Botones / Idioma -->
  <div class="flex items-center gap-4">
    <select class="text-sm text-white bg-transparent outline-none">
      <option class="text-black">Español</option>
      <option class="text-black">English</option>
    </select>
    <a
      href="#"
      class="px-4 py-2 text-sm font-bold text-white rounded-full bg-primary hover:opacity-90"
    >
      Descargar
    </a>
  </div>
</header>
