---
const items = [
  {
    name: "¿Qué es Festiva?",
    href: "#about",
  },
  {
    name: "Beneficios",
    href: "#benefits",
  },
  {
    name: "Módulos",
    href: "#modules",
  },
  {
    name: "Contacto",
    href: "#contact",
  },
  {
    name: "FAQ’s",
    href: "#faqs",
  },
];
---

<div class="px-8 py-4">
  <header
    class="flex items-center justify-between w-full px-6 py-4 border-2 rounded-full border-grey1 bg-grey1/10"
  >
    <img src="images/logo1.png" alt="" class="w-32" />

    <nav class="hidden gap-6 text-sm font-semibold md:flex">
      {
        items.map((item, i) => (
          <a href={item.href} class="hover:text-p1">
            {item.name}
          </a>
        ))
      }
    </nav>

    <div class="flex items-center gap-4">
      <select class="text-sm text-white bg-transparent outline-none">
        <option class="text-black">Español</option>
        <option class="text-black">English</option>
      </select>
      <a
        href="#"
        class="px-4 py-2 text-sm font-bold text-white rounded-full bg-primary hover:opacity-90"
      >
        Descargar
      </a>
    </div>
  </header>
</div>
