<section class="p-12">
  <div class="flex items-center">
    <!-- Texto -->
    <div class="flex-1 text-white">
      <h1 class="text-4xl font-extrabold leading-tight md:text-5xl">
        DISFRUTA LOS <br />
        MEJORES <span class="text-p1">EVENTOS</span> CERCA
      </h1>
      <p class="mt-6 text-lg text-gray-300">
        Descubre los mejores eventos y conecta con los negocios más exclusivas
        de la ciudad.
      </p>

      <!-- Botones de descarga -->
      <div class="flex flex-wrap gap-4 mt-8">
        <img src="/images/app_store.png" alt="Google Play" />
        <img src="/images/google_play.png" alt="Google Play" />
      </div>
    </div>

    <div class="flex-1">
      <img src="/images/hero_mockup.png" alt="App Preview 1" />
    </div>
  </div>
</section>
