---
import './Gallery.scss';
---
<section class="gallery">
  <h2>Galería</h2>
  <div class="grid">
    <img src="/images/club.jpg" alt="Evento 1" />
    <img src="/images/club.jpg" alt="Evento 2" />
    <img src="/images/club.jpg" alt="Evento 3" />
  </div>
</section>
