---
import Carousel from "../react/Carousel";

const slides = [
  "/images/club1.png",
  "/images/club2.png",
  "/images/club3.png",
  "/images/club4.png",
];
---

<section class="relative py-16 overflow-hidden text-black bg-white">
  <div
    class="relative z-20 grid items-center gap-12 px-6 mx-auto max-w-7xl md:grid-cols-2"
  >
    <!-- Texto -->
    <div class="space-y-6">
      <h2 class="text-3xl font-extrabold md:text-4xl">What is Festiva?</h2>

      <div class="flex items-start gap-3">
        <div>
          <div
            class="bg-p1 w-[42px] h-[42px] flex items-center justify-center rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
              ><path
                d="m80-80 200-560 360 360L80-80Zm132-132 282-100-182-182-100 282Zm370-246-42-42 224-224q32-32 77-32t77 32l24 24-42 42-24-24q-14-14-35-14t-35 14L582-458ZM422-618l-42-42 24-24q14-14 14-34t-14-34l-26-26 42-42 26 26q32 32 32 76t-32 76l-24 24Zm80 80-42-42 144-144q14-14 14-35t-14-35l-64-64 42-42 64 64q32 32 32 77t-32 77L502-538Zm160 160-42-42 64-64q32-32 77-32t77 32l64 64-42 42-64-64q-14-14-35-14t-35 14l-64 64ZM212-212Z"
              ></path></svg
            >
          </div>
        </div>
        <p class="text-gray-800">
          It connects people, venues, and event organizers through a single
          platform — complete with calendars, maps, menus, reservations, and
          exclusive alerts.
        </p>
      </div>

      <div class="flex items-start gap-3">
        <div>
          <div
            class="bg-p1 w-[42px] h-[42px] flex items-center justify-center rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
              ><path
                d="m80-80 200-560 360 360L80-80Zm132-132 282-100-182-182-100 282Zm370-246-42-42 224-224q32-32 77-32t77 32l24 24-42 42-24-24q-14-14-35-14t-35 14L582-458ZM422-618l-42-42 24-24q14-14 14-34t-14-34l-26-26 42-42 26 26q32 32 32 76t-32 76l-24 24Zm80 80-42-42 144-144q14-14 14-35t-14-35l-64-64 42-42 64 64q32 32 32 77t-32 77L502-538Zm160 160-42-42 64-64q32-32 77-32t77 32l64 64-42 42-64-64q-14-14-35-14t-35 14l-64 64ZM212-212Z"
              ></path></svg
            >
          </div>
        </div>
        <p class="text-gray-800">
          We’re shaping the future of nightlife in Norway by building a dynamic
          digital ecosystem. From partygoers to clubs and event organizers,
          Festiva connects the entire scene in one seamless, ever-evolving
          experience.
        </p>
      </div>
    </div>

    <Carousel client:load images={slides} />
  </div>
</section>
