---
import InputField from "../ui/InputField.astro";
---

<div class="relative min-h-screen overflow-visible bg-darkB0">
  <!-- Círculos decorativos -->
  <img
    src="/images/circle_green_right.png"
    alt="Decoración"
    class="absolute -top-10 right-0 z-0"
  />

  <img
    src="/images/circle_orange_left.png"
    alt="Decoración"
    class="absolute left-0 z-0 bottom-40"
  />

  <section id="contact" class="relative z-10 max-w-6xl px-6 mx-auto">
    <div class="mb-12 text-center">
      <h1 class="text-3xl font-extrabold uppercase md:text-5xl">
        Are You a Club or Nightlife Venue?
        <span class="block mt-2 text-p1">Join Festiva</span>
      </h1>
      <p class="max-w-xl mx-auto mt-4 text-lg text-gray-300">
        Oslo’s top nightlife spots are already on <span
          class="font-semibold text-p1">Festiva</span
        >. Is yours?<br />
        You're missing out on visibility every night. Connect with us today.<br
        />
        <span class="font-bold text-p1"
          >This is your moment — don’t miss it.</span
        >
      </p>
    </div>

    <div class="flex flex-col items-center justify-center gap-10 md:flex-row">
      <div class="bg-[#1c1c1e] p-8 rounded-3xl w-full max-w-md shadow-lg">
        <h2 class="mb-6 text-xl font-semibold">Contact Form</h2>
        <p class="mb-6 text-gray-400">
          Become part of Norway’s new nightlife ecosystem.
        </p>
        <form class="space-y-4">
          <InputField
            id="name"
            label="Full Name"
            name="name"
            placeholder="Mark Andrade Mateo"
            value=""
          />
          <InputField
            id="email"
            label="Email Address"
            name="email"
            placeholder="example@mail.com"
            value=""
          />
          <InputField
            id="businessName"
            label="Business Name"
            name="business"
            placeholder="Aruba Disco"
            value=""
          />
          <InputField
            id="local"
            label="Venue Type"
            name="local"
            placeholder="Club, Bar, Restaurant"
            value=""
          />
          <button
            id="btnSend"
            type="button"
            data-confetti-button
            class="w-full py-3 font-semibold text-white bg-pink-500 rounded-lg hover:bg-pink-600"
          >
            Send Message
          </button>
        </form>
      </div>

      <!-- Imagen del celular (mockup) -->
      <div>
        <img
          src="/images/mockup-events.webp"
          alt="Mockup app Festiva"
          class="max-w-[300px] rounded-xl"
        />
      </div>
    </div>
  </section>
  <img class="w-full" src="images/register.png" alt="" />
</div>

<script type="module" is:inline>
  const btnSend = document.getElementById("btnSend");
  const nameInput = document.getElementById("name");
  const emailInput = document.getElementById("email");
  const businessInput = document.getElementById("businessName");
  const localInput = document.getElementById("local");

  btnSend.addEventListener("click", () => {
    const formData = {
      name: nameInput.value,
      email: emailInput.value,
      business: businessInput.value,
      local: localInput.value,
    };
    sendFormData(formData);
  });

  function sendFormData(formData) {
    console.log("Sending form data:", formData);
  }
</script>
