---
const items = [
  {
    name: "What is Festiva?",
    href: "#about",
  },
  {
    name: "Benefits",
    href: "#benefits",
  },
  {
    name: "Modules",
    href: "#modules",
  },
  {
    name: "FAQs",
    href: "#faqs",
  },
  {
    name: "Download",
    href: "#about",
  },
];
---

<div class="px-8 py-4">
  <header
    class="flex items-center justify-between w-full border-2 rounded-full border-grey1 bg-grey1/10 px-6 py-4"
  >
    <img src="images/logo1.png" alt="" class="w-32" />

    <nav class="hidden gap-6 text-sm font-semibold md:flex">
      {
        items.map((item, i) => {
          return (
            <a href={item.href} class="hover:text-p1">
              {item.name}
            </a>
          );
        })
      }
    </nav>
  </header>
</div>
