<section class="p-6 md:p-12 bg-darkB0">
  <div class="flex flex-col-reverse md:flex-row items-center gap-8">
    <!-- Texto -->
    <div class="flex-1 text-white text-center md:text-left">
      <h1 class="text-4xl font-extrabold leading-tight md:text-5xl">
        EXPERIENCE THE BEST<br />
        <span class="text-p1">EVENTS </span>AROUND YOU
      </h1>
      <p class="mt-6 text-lg text-gray-300">
        Discover top events and connect with the city's most exclusive nightlife
        spots
      </p>
      <div class="flex justify-center md:justify-start flex-wrap gap-4 mt-8">
        <img src="/images/app_store.png" alt="Google Play" />
        <img src="/images/google_play.png" alt="Google Play" />
      </div>
    </div>

    <!-- Imagen -->
    <div class="flex-1 flex justify-center">
      <img
        src="/images/hero_mockup.webp"
        alt="App Preview 1"
        class="max-w-full h-auto"
      />
    </div>
  </div>
</section>
