---
import CardGlass from "./CardGlass.astro";

const { title, description, icon, color } = Astro.props;
---

<CardGlass class="p-5">
  <img src={icon} alt={title} class="mb-2 text-3xl" />
  <h4 class="mb-1 text-lg font-bold">{title}</h4>
  <p class="text-sm text-gray-300">{description}</p>
</CardGlass>
